nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: rgb(17, 67, 133);
    height: 100%;

}

.sidebar-content{
    margin: 5px;
}

h2{
    margin: 10px;
}

.top-bar-content{
    position: fixed;
    top: 0;
    left: 280px;
}