<p-table [value]="students" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>imię</th>
      <th>nazwisko</th>
      <th>E-mail</th>
      <th>szczegóły</th>
      <th>usuń</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td><a routerLink="/students/{{student.id}}">details</a></td>
      <td><button>usuń</button></td>
    </tr>
  </ng-template>
</p-table>


