<div class="surface-section" style="min-width: 500px">
  <div class="font-medium text-3xl text-900 mb-3">Dodaj nowego kursanta:</div>

  <ul class="list-none p-0 m-0">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-3 font-medium">imię</div>
        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
          <input type="text" class="pr-0 w-12" pInputText formControlName="firstName"/>
        </div>
      </li>

      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-3 font-medium">nazwisko</div>
        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
          <input type="text" class="pr-0 w-12" pInputText formControlName="lastName"/>
        </div>
      </li>

      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-3 font-medium">e-mail</div>
        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
          <input type="text" class="pr-0 w-12" pInputText formControlName="email"/>
        </div>
      </li>

      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-3 font-medium">aktywny</div>
        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
          <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                          formControlName="active"></p-selectButton>
        </div>
      </li>

      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap justify-content-center">
        <button type="submit" class="w-5 m-1" pButton pRipple label="dodaj kursanta" icon="pi pi-check"></button>
        <button type="button" class="w-5 m-1" pButton pRipple label="wyczyść formularz" icon="pi pi-trash" (click)="resetForm()"></button>
      </li>
    </form>
  </ul>
</div>

<p-dialog header="Dodano nowego kursanta" [(visible)]="displayModal" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closable]="false">
  <button type="button" class="w-12 m-1" pButton pRipple label="dodaj kolejnego kursanta" icon="pi pi-check" (click)="displayModal=false"></button>
  <button type="button" class="w-12 m-1" pButton pRipple label="przejdź do listy kursantów" icon="pi pi-table" [routerLink]="'/students'"></button>
  <button type="button" class="w-12 m-1" pButton pRipple label="przejdź do strony głównej" icon="pi pi-arrow-left" [routerLink]="'/'"></button>
</p-dialog>

