<div *ngIf="student">
<div class="surface-section" style="min-width: 400px" >
  <div class="font-medium text-3xl text-900 mb-3">Szczegóły kursanta: <br>
    {{student.firstName + " " + student.lastName | uppercase}}</div>

  <ul class="list-none p-0 m-0">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-3 font-medium">ID</div>
      <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1 ">
        <input type="text" readonly class="pr-0 border-0" pInputText [(ngModel)]="student.id" formControlName="id"  />
      </div>
    </li>

    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-3 font-medium">imię</div>
      <div class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1" >
        <input type="text" [readonly]="!editName" class="pr-0 {{editName?'':'border-0'}}"  pInputText [(ngModel)]="student.firstName" formControlName="firstName"  />
      </div>
      <div class="w-6 md:w-3 flex justify-content-end">
        <button type="button" pButton pRipple label="zmień" icon="pi pi-pencil" class="p-button-text w-10" (click)="editName=true"></button>
      </div>
    </li>

    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-3 font-medium">nazwisko</div>
      <div class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1">
        <input type="text" [readonly]="!editLastName" class="pr-0 {{editLastName?'':'border-0'}}"  pInputText [(ngModel)]="student.lastName" formControlName="lastName"/>
      </div>
      <div class="w-6 md:w-3 flex justify-content-end">
        <button type="button" pButton pRipple label="zmień" icon="pi pi-pencil" class="p-button-text w-10" (click)="editLastName=true"></button>
      </div>
    </li>

    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-3 font-medium">e-mail</div>
      <div class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1">
        <input type="text" [readonly]="!editEmail" class="pr-0 {{editEmail?'':'border-0'}}"  pInputText [(ngModel)]="student.email" formControlName="email"  />
      </div>
      <div class="w-6 md:w-3 flex justify-content-end">
        <button type="button" pButton pRipple label="zmień" icon="pi pi-pencil" class="p-button-text w-10" (click)="editEmail=true"></button>
      </div>
    </li>

    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-3 font-medium">aktywny</div>
      <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
        <p-selectButton [options]="stateOptions" [(ngModel)]="student.active" optionLabel="label" optionValue="value" formControlName="active"></p-selectButton>
      </div>
    </li>

    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap justify-content-center">
        <button type="button" class="w-5 m-1" pButton pRipple label="zamknij bez zapisu" icon="pi pi-times" (click)="stopDisplaying()"></button>
        <button type="submit" class="w-5 m-1" pButton pRipple label="zapisz zmiany" icon="pi pi-check"></button>
    </li>
    </form>
  </ul>
</div>
</div>

