<div *ngIf="student">

  <h2>{{student.firstName + " " + student.lastName | uppercase}} Szczegóły</h2>
  <div><span>id: </span>{{student.id}}</div>
  <div>
    <ul>
      <li>
        <label for="student-firstName">imię: </label>
        <input id="student-firstName" [(ngModel)]="student.firstName" placeholder="imię">
      </li>
      <li>
        <label for="student-lastName">nazwisko: </label>
        <input id="student-lastName" [(ngModel)]="student.lastName" placeholder="nazwisko">
      </li>
      <li>
        <label for="student-email">e-mail: </label>
        <input id="student-email" [(ngModel)]="student.email" placeholder="e-mail">
      </li>
      <li>
        <label for="active">aktywny: </label>
        <p-checkbox [(ngModel)]="student.active" [binary]="true" inputId="active"></p-checkbox>
      </li>
    </ul>

  </div>
</div>


