
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/img/landing/car.jpg" alt="Car" class="md:ml-auto block md:h-full">
  </div>
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-3">Super Szkoła Jazdy</span>
      <div class="text-3xl text-primary font-bold mb-7">Panel kursanta</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <button pButton pRipple label="Zaloguj" type="button" class="mr-3 p-button-raised"></button>
      <button pButton pRipple label="Nie mam konta" type="button" class="p-button-outlined"></button>
    </section>
  </div>

</div>
